{{- if eq .chezmoi.hostname "derBoss" }}
Xft.dpi: 200
{{- end}}

! MISC
URxvt.loginShell:           true
URxvt.saveLines:            1000
URxvt.internalBorder:       3
URxvt.lineSpace:            0
URxvt.scrollBar:	    false

URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

!##############
!#   COLORS   #
!##############     
*foreground      : #FAFAFA
*cursorColor     : #FAFAFA
*background      : #1D1F21

! black
*color0  : #282A2E
*color8  : #373B41

! red
*color1  : #C62828
*color9  : #EF5350

! green
*color2  : #00695C
*color10 : #26A69A

! yellow
*color3  : #F9A825
*color11 : #FFEE58

! blue
*color4  : #03A9F4
*color12 : #B3E5FC

! magenta
*color5  : #7E57C2
*color13 : #B39DDB

! cyan
*color6  : #4DD0E1
*color14 : #B2EBF2

! white
*color7  : #E0E0E0
*color15 : #F5F5F5

!#######
! ROFI #
!#######

rofi.modi:                           ssh,window,drun,run
rofi.terminal:                       urxvt
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.case-sensitive:                 false
rofi.fuzzy:                          true
rofi.separator-style:                solid
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width:                8 
