export ZSH="/home/umut/.oh-my-zsh"
VISUAL=vim; 
EDITOR=vim; 
export VISUAL EDITOR

ZSH_THEME="agnoster"

# scale gtk ui on desktop
{{- if eq .chezmoi.hostname "derBoss" }}
export QT_AUTO_SCREEN_SCALE_FACTOR=1
{{- end }}

#plugins
plugins=(git)

# sources
source $ZSH/oh-my-zsh.sh
source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# aliases
alias syu="yay -Syu"
alias ce="chezmoi edit"
alias ca="chezmoi apply"
alias ccd="chezmoi cd"
alias cdf="chezmoi diff"
