; ---------------------------------------
;        | __ )  / \  |  _ \/ ___|      |
;        |  _ \ / _ \ | |_) \___ \      |
;        | |_) / ___ \|  _ < ___) |     |
;        |____/_/   \_\_| \_\____/      |
;              by Umut                  |
;----------------------------------------

[module/volume]
type = internal/pulseaudio

interval = 5

format-volume = <label-volume>
format-volume-foreground = ${xcolor.foreground}
format-volume-background = ${xcolor.background}
format-volume-padding = 1

label-muted = --%
format-muted-foreground = ${xcolor.foreground}
format-muted-background = ${xcolor.background}
format-muted-padding = 1

[module/volume_icon]
type = internal/pulseaudio

format-volume = <label-volume>
format-volume-foreground = ${xcolor.background}
format-volume-background = ${xcolor.foreground}
format-volume-padding = 1
label-volume = 

format-muted-foreground = ${xcolor.background}
format-muted-background = ${xcolor.color9}
format-muted-padding = 1
label-muted =  

[module/i3]
type = internal/i3

label-mode-padding = 2
label-mode-background = ${xcolor.color12}
label-mode-foreground = ${xcolor.background}

label-focused = %index%
label-focused-foreground = ${xcolor.background} 
label-focused-background = ${xcolor.color14}
label-focused-padding = 2

label-visible = %index%
label-visible-background = ${xcolor.background}
label-visible-foreground = ${xcolor.foreground}
label-visible-padding = 2

label-unfocused = %index%
label-unfocused-background = ${xcolor.background}
label-unfocused-foreground = ${xcolor.foreground}
label-unfocused-padding = 2

label-separator =  
label-separator-padding = 1

[module/date]
type = internal/date

interval = 60.0

date = "%a %b %d"
time = "%H:%M"

label = %date%

[module/time]
type = internal/date

interval = 5

date = %a %b %d
time = %H:%M

label = %time%

[module/pmenu]
type = custom/menu

label-open = "" 
label-open-background = ${xcolor.foreground}
label-open-foreground = ${xcolor.background}
label-open-padding = 3
label-open-margin = 1

menu-0-0 =  
menu-0-0-exec = menu-open-1 

menu-1-0 = 
menu-1-0-exec = scrot -s -e 'mv $f ~/Pictures/Screenshots'
menu-1-1 =  
menu-1-1-exec = scrot -e 'mv $f ~/Pictures/Screenshots'

[module/ip]
type = internal/network

interface = {{ .network_interface }}

label-connected = %local_ip%
label-connected-foreground = ${xcolor.foreground}
label-connected-margin-right = 1

label-disconnected = DISCONNECTED
label-disconnected-foreground = ${xcolor.color9}
label-disconnected-margin-right = 1

[module/ip_icon]
type = custom/text

content = 
content-background = ${xcolor.color12} 
content-foreground = ${xcolor.background}
content-padding = 1
content-margin = 1

[module/netspeed]
type = internal/network

interface = {{ .network_interface }}

label-connected = %upspeed% / %downspeed%
label-connected-foreground = ${xcolor.foreground}
label-connected-margin-right = 1

label-disconnected = DISCONNECTED
label-disconnected-foreground = ${xcolor.color9}
label-disconnected-margin-right = 1

[module/netspeed_icon]
type = custom/text

content =  / 
content-background = ${xcolor.color14} 
content-foreground = ${xcolor.background}
content-padding = 1
content-margin = 1

[module/battery]
type = internal/battery

battery = BAT0
adapter = AC 

poll-interval = 5

time-format = %H:%M

format-charging = <label-charging>
format-discharging = <label-discharging>
format-full = <label-full>

label-charging = %percentage%%
label-charging-foreground = ${xcolor.foreground}
label-charging-background = ${xcolor.background}

label-discharging = %percentage%%
label-discharging-foreground = ${xcolor.foreground}
label-discharging-background = ${xcolor.background}

label-full = Charged
label-full-foreground = ${xcolor.foreground}
label-full-background = ${xcolor.background}

; Only applies if <ramp-capacity> is used
ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 

; Only applies if <bar-capacity> is used
bar-capacity-width = 10

; Only applies if <animation-charging> is used
animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 

; Framerate in milliseconds
animation-charging-framerate = 750

[module/battery_icon]
type = internal/battery

battery = BAT0
adapter = AC 

poll-interval = 5

format-charging = <animation-charging> 
format-discharging = <ramp-capacity> 
format-full = <ramp-capacity> 

format-charging-padding = 1
format-discharging-padding = 1
format-full-padding = 1

format-charging-margin = 1
format-discharging-margin = 1
format-full-margin = 1

format-charging-foreground = ${xcolor.background}
format-charging-background = ${xcolor.foreground}

format-discharging-foreground = ${xcolor.background}
format-discharging-background = ${xcolor.foreground}

label-full-foreground = ${xcolor.background}
label-full-background = ${xcolor.foreground}

; Only applies if <ramp-capacity> is used
ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 

; Only applies if <bar-capacity> is used
bar-capacity-width = 10

; Only applies if <animation-charging> is used
animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 

; Framerate in milliseconds
animation-charging-framerate = 750