;-------------------------------------------------
;                                                ;
;           Polybar config for my themes         ;
; 				                 ;
;                                                ;
;-------------------------------------------------


[colors]
;My colors are set from .Xresources to match everything else
my_background 	= ${xrdb:background}
my_foreground 	= ${xrdb:foreground}
my_color0	= ${xrdb:color0}
my_color1	= ${xrdb:color1}
my_color2	= ${xrdb:color2}
my_color3	= ${xrdb:color3}
my_color4	= ${xrdb:color4}
my_color5	= ${xrdb:color5}
my_color6	= ${xrdb:color6}
my_color7	= ${xrdb:color7}
my_color8	= ${xrdb:color8}
my_color9	= ${xrdb:color9}
my_color10	= ${xrdb:color10}
my_color11	= ${xrdb:color11}
my_color12	= ${xrdb:color12}
my_color13	= ${xrdb:color13}
my_color14	= ${xrdb:color14}
my_color15	= ${xrdb:color15}

{{- if eq .chezmoi.hostname "derBossMobil" }}
[bar/edp1]
monitor = ${env:MONITOR:eDP1}
bottom = false
width = 100%
height = 4%
offset-x = 0
offset-y = 0
radius = 0.0
fixed-center = true

background = ${colors.my_background}
foreground =  ${colors.my_foreground}

line-size = 2.5
line-color = ${colors.my_color4}

border-size = 0
border-color = ${colors.my_color2}

padding-left = 0
padding-right = 0

module-margin-left = 1
module-margin-right = 1

font-0 = "Source Code Pro:size=13"
font-1 = "FontAwesome:size=16"

modules-left = i3 player_title player_previous player_playpause player_next pulseaudio
modules-center = date battery
modules-right = network

tray-position = right
tray-padding = 9
tray-offset-y = 0%
tray-offset-x = 0%
tray-maxsize = 18
tray-detached = false
tray-background = ${colors.my_background}

wm-restack = i3

;override-redirect = true
{{- end}}

[module/i3]
type = internal/i3

label-unfocused-background = ${colors.my_background}
label-unfocused-foreground = ${colors.my_foreground}

label-mode = %mode%
label-mode-padding = 5
label-mode-background = ${colors.my_color4}

label-focused = %index%
label-focused-foreground = ${colors.my_foreground}
label-focused-background = ${colors.my_background}
label-focused-underline = ${colors.my_foreground}
label-focused-padding = 4

label-unfocused = %index%
label-unfocused-padding = 2

label-visible = %index%
label-visible-underline = #E06459
label-visible-padding = 2

label-urgent = %index%
label-urgent-foreground = ${colors.my_foreground}
label-urgent-background = ${colors.my_background}
label-urgent-underline = ${colors.my_color8}
label-urgent-padding = 2

[module/date]
type = internal/date
interval = 5

date =
date-alt = "%d/%m/%Y"

time = "%a %b %d, %H:%M "

time-alt = %H:%M

format-prefix-foreground = ${colors.my_foreground}
;format-underline = ${colors.my_color5}
format-underline =


label = %date% %time%

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over

[global/wm]
margin-top = 5
margin-bottom = 5

[module/player_previous]
type = custom/text
interval = 1
content = 
;content-padding = 1
click-left = playerctl previous

;[module/player_stop]
;type = custom/text
;interval = 1
;content = O
;content-padding = 1
;click-left = playerctl stop

[module/player_playpause]
type = custom/script
interval = 1
label = %output%
;label-padding = 1
exec = ~/.config/polybar/audio-playpause.sh
click-left = playerctl play-pause

[module/player_next]
type = custom/text
interval = 1
content = 
click-left = playerctl next

[module/player_title]
type = custom/script
interval = 1
label = %output:0:60:...%
label-foreground = ${colors.my_foreground}
label-padding = 2
exec = ~/.config/polybar/audio-title.sh
scroll-up = playerctl previous
scroll-down = playerctl next

[module/pulseaudio]
type = internal/pulseaudio

format-volume = <label-volume>
label-volume = VOL %percentage%%
label-volume-foreground = ${colors.my_foreground}

label-muted = 🔇 muted
label-muted-foreground = #66

bar-volume-width = 12
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = false
bar-volume-indicator = |
bar-volume-indicator-font = 2
bar-volume-fill = ─
bar-volume-fill-font = 2
bar-volume-empty = ─
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.my_foreground}

[module/battery]
type = internal/battery

; This is useful in case the battery never reports 100% charge
full-at = 99

; Use the following command to list batteries and adapters:
; $ ls -1 /sys/class/power_supply/
battery = BAT0
adapter = AC

; see "man date" for details on how to format the time string
; NOTE: if you want to use syntax tags here you need to use %%{...}
; Default: %H:%M:%S
time-format = %H:%M

; Available tags:
;   <label-charging> (default)
;   <bar-capacity>
;   <ramp-capacity>
;   <animation-charging>
format-charging = <animation-charging> <label-charging>

; Available tags:
;   <label-discharging> (default)
;   <bar-capacity>
;   <ramp-capacity>
;   <animation-discharging>
format-discharging = <ramp-capacity> <label-discharging>

; Available tags:
;   <label-full> (default)
;   <bar-capacity>
;   <ramp-capacity>
;format-full = <ramp-capacity> <label-full>

; Available tokens:
;   %percentage% (default) - is set to 100 if full-at is reached
;   %percentage_raw% (unreleased)
;   %time%
;   %consumption% (shows current charge rate in watts)
label-charging = %percentage%%

; Available tokens:
;   %percentage% (default) - is set to 100 if full-at is reached
;   %percentage_raw% (unreleased)
;   %time%
;   %consumption% (shows current discharge rate in watts)
label-discharging = %percentage%%

; Only applies if <ramp-capacity> is used
ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 

; Only applies if <bar-capacity> is used
bar-capacity-width = 10

; Only applies if <animation-charging> is used
animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
; Framerate in milliseconds
animation-charging-framerate = 750

; Only applies if <animation-discharging> is used
animation-discharging-0 = 
animation-discharging-1 = 
animation-discharging-2 = 
animation-discharging-3 = 
animation-discharging-4 = 
; Framerate in milliseconds
animation-discharging-framerate = 500

[module/network]
type = internal/network
interface = wlp2s0

interval = 2.0

; Available tags:
;   <label-connected> (default)
;   <ramp-signal>
format-connected = <label-connected>

; Available tags:
;   <label-disconnected> (default)
format-disconnected = <label-disconnected>

; Available tags:
;   <label-connected> (default)
;   <label-packetloss>
;   <animation-packetloss>
format-packetloss = <animation-packetloss> <label-connected>

; All labels support the following tokens:
;   %ifname%    [wireless+wired]
;   %local_ip%  [wireless+wired]
;   %local_ip6% [wireless+wired]
;   %essid%     [wireless]
;   %signal%    [wireless]
;   %upspeed%   [wireless+wired]
;   %downspeed% [wireless+wired]
;   %linkspeed% [wired]

; Default: %ifname% %local_ip%
label-connected = %essid%   %downspeed:4%   %upspeed:4%   %local_ip%
label-connected-foreground = ${colors.my_foreground}

; Default: (none)
;label-packetloss = %essid%
;label-packetloss-foreground = #eefafafa

; Only applies if <animation-packetloss> is used
animation-packetloss-0 = ⚠
animation-packetloss-0-foreground = #ffa64c
animation-packetloss-1 = 📶
animation-packetloss-1-foreground = #000000
; Framerate in milliseconds
animation-packetloss-framerate = 500
