[global]
monitor = 0
follow = mouse
geometry = "400x3-20+48"
indicate_hidden = yes
frame_width = 1
shrink = no
separator_height = 0
padding = 12
horizontal_padding = 12
sort = no
idle_threshold = 120
font = Source Code Pro 8
line_height = 4
markup = full
format = <b>%s</b>\n%b
alignment = left
show_age_threshold = 60
word_wrap = yes
ignore_newline = no
stack_duplicates = false
hide_duplicate_count = yes
show_indicators = no
icon_position = left
max_icon_size = 75
icon_path=/usr/share/icons/Archdroid-BlueGrey/status
sticky_history = yes
history_length = 20
browser = /usr/bin/qutebrowser
always_run_script = true
title = Dunst
class = Dunst

[shortcuts]
close = ctrl+space
close_all = ctrl+shift+space
context = ctrl+shift+period

[urgency_low]
timeout = 4
background = "#1D1F21"
foreground = "#FAFAFA"
frame_color = "#FAFAFA"

[urgency_normal]
timeout = 8
background = "#1D1F21"
foreground = "#FAFAFA"
frame_color = "#FAFAFA"

[urgency_critical]
timeout = 0
background = "#1D1F21"
foreground = "#FAFAFA"
frame_color = "#EF5350"
